.maxmin {
  display: flex;
  justify-content: space-evenly;
}
.maxmin span {
  font-size: 1.6rem;
}

.show-info-weather strong {
  font-size: 3rem;
}
.show-info-weather #maxmin {
  font-size: 1.7rem !important;
}

.contentArrowTemp {
  align-items: center !important;
  display: inline-flex !important;
}
.contentArrowTemp i {
  font-size: 1rem !important;
}

#map {
  height: 450px !important;
}
